* {
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
}
body {
    font-family: 'Pontos Zen';
    color: white;
    background: rgb(95, 15, 5);
    overflow: hidden;  
}
.avatar {
    width: 80px;
    border-radius: 20px;
    border: 2px solid white;
    box-shadow: 0 0 10px white;
}
h1{
    font-family: 'Architects Daughter', cursive;
    font-weight: 100;
    font-size: 25px;
    margin-bottom: 2px;
}
h2{
    font-size: 18px;
    margin-top: 10px;
}
.profile{
    margin-top: 20px;
    text-align: center;  
}
.social{
    text-align: center;    
    justify-content: space-around;
    list-style: none;
    margin: 20px 0;
    margin-right: 150px;
}
.social p:hover{
    color: yellow;
}
.social img{
    width: 38px;
    margin-top: 37px;   
}
p{
    color: white;
    margin-left: 180px;
    margin-top: -31px;
    letter-spacing: 1px;
}
a{
    text-decoration: none;
}
.whats{
    display: flex;
    justify-content: center;
    
}
.whats p {
    margin-left: 240px;  
}
h3{
    display: inline-block;
    color: white;
    border-radius: 30px;
    border: 3px solid black;
    box-shadow: 0 0 10px white;
    margin-top: 50px;
    margin-bottom: -9px;
    margin-left: 150px;
    padding: 1px 10px;
    letter-spacing: 7px;
    font-size: 20px;
}
section{
    display: flex;
    justify-content: center;
    overflow: none; 
    margin-top: 40px;    
}
.figura{
    height: 38px;
    margin-left: 200px;  
}

#left{
    margin-left: -180px;
}
#right{
    margin-left: -220px;
}

@media (min-width:300px) and (max-width:600px){
    .avatar {
        width: 50px;
        border-radius: 20px;
        border: 2px solid white;
        box-shadow: 0 0 10px white;
    }
    h1{
        font-family: 'Architects Daughter', cursive;
        font-weight: 100s;
        font-size: 15px;
        margin-bottom: 2px;
    }
    h2{
        font-size: 15px;
        margin-top: 10px;
    }
    .profile{
        margin-top: 20px;
        text-align: center;  
    }
    .social{
        text-align: center;    
        justify-content: space-around;
        list-style: none;
        margin: 20px 0;
        margin-right: 150px;
    }
    .social img{
        width: 25px;
        margin-top: 30px;   
    }
    .social p:hover{
        color: yellow;
    }
    p{
        color: white;
        margin-left: 150px;
        margin-top: -28px;
        letter-spacing: 1px;
        font-size: 12px;
    }
    a{
        text-decoration: none;
    }
    .whats{
        display: flex;
        justify-content: center;
        
    }
    .whats p {
        margin-left: 240px;  
    }
    h3{
        display: inline-block;
        color: white;
        border-radius: 30px;
        border: 3px solid black;
        box-shadow: 0 0 10px white;
        margin-top: 45px;
        margin-bottom: 15px;
        margin-left: 100px;
        padding: 1px 10px;
        letter-spacing: 5px;
        font-size: 10px;
    }
    section{
        display: flex;
        justify-content: center;
        overflow: none; 
        font-size: 11px; 
        margin-top: 20px;   
    }   
    .figura{
        height: 25px;
        margin-left: 200px; 
 
    }
    
    #left{
        margin-left: -190px;
    }
    #right{
        margin-left: -180px;
    }
    
}


